// _header.scss

.site-header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 72px;
  transition: .5s ease-in-out;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: block;
    width: 50px;
    height: 52px;
    background: url(../img/logo.svg) 0 0 no-repeat;
    transition: all .3s;
  }

  .btn-open-menu {
    display: flex;
    width: auto;
    font-size: 16px;
    line-height: 1;
    color: $linkColor;
    cursor: pointer;
    text-transform: uppercase;
    .burger {
      width: 21px;
      margin-right: 10px;
      span {
        display: block;
        width: 100%;
        height: 1px;
        background: #4DE845;
        margin-bottom: 5px;
        border-radius: 50%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .header-content {
    width: 100%;
    height: 100%;
    background: $darkColor;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: -150%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    transition: .1s ease-in-out;

    .btn-close-menu {
      width: 75px;
      height: 25px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      display: block;
      padding-left: 25px;
      background: url(../img/ico-close.svg) 0 4px no-repeat;
      background-size: 15px;
      text-transform: uppercase;
      font-family: $bodyFontMedium;
    }

    .header-content-logo {
      display: block;
      position: absolute;
      left: 50%;
      top: 20px;
      width: 48px;
      height: 51px;
      background: url(../img/logo.svg);
      background-position: 0 0;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }
  }

  &.open {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease-in-out;

    .btn-open-menu, .logo {
      opacity: 0;
      transition: .3s ease-in-out;
    }

    .header-content {
      left: 0;
      transition: .7s ease-in-out;
    }
  }
}

.menu-title {
  font-family: $menuFontTitle;
  color: $mainBgColor;
  margin-bottom: 28px;
  font-size: $menuTitleFs;
}

.site-navigation {
  font-family: $menuFont;
  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;
    }

    a {
      text-decoration: none;
      transition: .5s;
      font-size: $mainFontSie + 1px;
      text-transform: capitalize;

      &:hover {
        color: $secondaryColor;
        transition: .3s;
      }
    }
  }
}

.sticky {
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(21, 21, 21, 0.7);

  .logo {
    background: url(../img/logo-scroll.svg) 0 0 no-repeat;
    height: 36px;
    width: 200px;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 725px;
  margin-left: auto;
  margin-right: auto;
  .col {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.mobile-menu {
  text-align: center;
  li {
    margin-bottom: 10px;
    a {
      font-size: 42px;
      font-family: $headFont;
      text-transform: uppercase;
      transition: all .3s;
      &:hover {
        color: $secondaryColor;
      }
    }
  }
  .current-menu-item {
    a {
      color: $secondaryColor;
    }
  }
}

.sector__page {
  .site-header {
    .logo {
      width: 288px;
      height: 51px;
      background-repeat: no-repeat;
      background-position: 0 0;
      transition: none;
    }
  }
}

.sector__solar {
  .site-header {
    .logo {
      background: url(../img/logo-solar.svg);
    }
    .btn-open-menu {
      .burger {
        span {
          background: #FF550D;
        }
      }
    }
    .header-content-logo {
      background: url(../img/logo-solar-small.svg);
    }
  }
}

.sector__hydro {
  .site-header {
    .logo {
      background: url(../img/logo-hydro.svg) 0 0 no-repeat;
    }
    .btn-open-menu {
      .burger {
        span {
          background: #0AD3FF;
        }
      }
    }
    .header-content-logo {
      background: url(../img/logo-hydro-small.svg);
    }
  }
}

.sector__wind {
  .site-header {
    .logo {
      background: url(../img/logo-wind.svg) 0 0 no-repeat;
    }
    .btn-open-menu {
      .burger {
        span {
          background: #43e849;
        }
      }
    }
    .header-content-logo {
      background: url(../img/logo-wind-small.svg);
    }
  }
}