// _media.scss

@media (max-width: 1279px) {
    .sectors__inner {
      .list__sectors {
        &:before, &:after  {
          width: 70px;
          transform: translateX(0);
        }
      }
    }
}

@media (max-width: 1199px) {
  .reviews {
    &:before {
      height: 120px;
      background-position: 50% 0;
    }
  }
}

@media (max-width: 1023px) {
  .about {
    background-position: 50% 50%;
  }
  .sectors__inner {
    .list__sectors {
      &:before, &:after  {
       display: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .sectors__inner {
    .list__sectors {
      .list__sectors-item {
        &:before {
          width: 50px;
        }
      }
    }
  }

  .footer__info__pages {
    .container {
      background: none;
      padding-top: 50px;
    }
  }

  .solial__links__contacts {
    right: 50%;
    transform: translateX(50%);
  }
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .about {
    .mobile-logo {
      display: none;
    }
  }
  .footer__front__page {
    .social-list {
      display: none;
    }
  }
}

@media (max-width: 767px) {

  .deskto-nav {
    display: none;
  }

  .btn-left {
    margin-right: auto;
    margin-bottom: 20px;
  }

  .btn-right {
      margin-left: auto;
  }

  .sectors__inner {
    padding: 35px 0;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 256px;
      height: 275px;
      background: url(../img/bg-sectors-mob.svg) no-repeat;
      background-position: 0 0;
      position: absolute;
      left: 50%;
      top: 80px;
      transform: translateX(-50%);
    }
    .sector-title {
      position: relative;
      padding-top: 155px;
      &:before {
        content: "";
        display: block;
        height: 133px;
        width: 1px;
        border-left: 0.5px solid rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 50%;
      }
    }

    .list__sectors {
      flex-direction: column;
      padding-top: 70px;
      padding-bottom: 70px;
      .list__sectors-item {
        flex: 0 0 100%;
        padding: 70px 0;
        &:before {
          left: 50%;
          width: 1px;
          border-left: 0.5px solid rgba(255, 255, 255, 0.5);
          height: 100px;
          top: 0;
          transform: translateY(-50%);
        }
      }
      .sector-bg-icon {
        display: none;
      }
      &:before {
        display: block;
        top: 50px;
        left: 50%;
        width: 130px;
        transform: rotate(90deg);
        margin-left: -65px;
      }
      &:after {
        display: block;
        left: 50%;
        width: 130px;
        transform: rotate(90deg) translateX(-50px);
        margin-left: -65px;
        top: 100%;
      }
    }
  }

  .services {
    padding-top: 75px;
    padding-bottom: 75px;
    &:before {
      height: 120px;
      background-position: 100% 0;
    }
    .services-intro {
      margin-bottom: 55px;

      p {
        font-size: $mediumFontSize - 1px;
      }
    }
  }
  .service__list {
    .service-item {
      .col {
        width: 100%;
        img {
          display: block;
          margin: 0 auto 30px auto;
        }
      }
    }
  }

  .reviews {
    &:before {
      height: 70px;
    }
  }

  .carousel-reviews {
    .review-item {
      .review-item-text {
        font-size: $headFontSize - 5px;
      }
    }
  }

  .about {
    background: #030B15;
    padding-bottom: 335px;
    padding-top: 80px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 100%;
      max-width: 376px;
      height: 335px;
      background: url(../img/about-mobile.jpg) 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -188px;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      max-width: 376px;
      height: 335px;
      background: linear-gradient(#030B15 24.37%, rgba(3, 10, 20, 0.11) 100%);
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -188px;
    }
  }

  .benefits {
    padding-bottom: 30px;
    .benefit-icon {
      min-height: 1px;
    }
  }
  .reviews, .contacts {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .contact-info {
    margin-top: 0;
    .contact-inner {
      .contact-inner-title {
        display: none;
      }
    }
  }

  .file-field {
    display: table;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-send {
    display: block;
    width: 200px;
    text-transform: capitalize;
    white-space: normal;
    height: auto;
    padding: 5px 35px;
    background: linear-gradient(180deg, #A2F71D 0%, #43E849 100%);
    box-shadow: 0px 8px 20px rgba(162, 170, 192, 0.2);
    margin-left: auto;
    margin-right: auto;
    &:hover {
      background: linear-gradient(180deg, #43E849 0%, #A2F71D 100%);
    }
  }

  .site-footer {
    padding-top: 70px;
    .links {
      display: none;
    }
    .widget-copyr {
      text-align: center;
    }
  }

  .social-inline {
    .social-list {
      .social-title {
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 21px;
      }

      flex-direction: column;
      align-items: center;
      ul {
        flex-direction: column;
        li {
          margin-bottom: 15px;
          img {
            width: auto;
          }
        }
      }
    }
  }

  .footer__bottom {
    .widget-copyr {
      margin-top: 20px;
      text-align: center;
    }
  }

  .sector__page {
    .start {
      h1 {
        margin-bottom: 25px;
      }
      .sector__intro {
        .sector__intro-text {
          margin: 25px 0;
        }
      }
    }
  }
}

@media(max-width: 479px) {
  .services {
    &:before {
      height: 70px;
      background-position: 100% 0;
    }
  }
  .reviews {
    &:before {
      height: 44px;
      background-position: 50% 0;
    }
  }

  .service__list {
    .service-item {
      .service-item-text {
        max-width: 100%;
        h3 {
          font-size: $mediumFontSize - 1px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .benefits {
    .benefit-item {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }

  .contacts {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .contact-inner {
      font-size: 14px;
    }
  }
}